<%= render "shared/header" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @event.code %>
</p>
<p>
  <strong>Day:</strong>
  <%= @event.day %>
</p>
<p>
  <strong>Event start:</strong>
  <%= @event.event_start %>
</p>

<p>
  <strong>Event end:</strong>
  <%= @event.event_end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<%= render "shared/footer" %>