<%- model_class = Activity -%>
<%= render "shared/header" %>

<h1>Editing projects</h1>

<%= render 'form' %>

<%= link_to 'Show', @projects %> |
<%= link_to 'Back', projects_path %>

<%= render "shared/footer" %>
