<%= render "shared/header" %>

      <h1>Current Projects</h1>


      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Proposer</th>
          <th>Email</th>
          <th>Tags</th>
          <th colspan="5"></th>
        </tr>
        </thead>

        <tbody>
        <% @projects.each do |project| %>
            <tr>
              <td><%= project.title %></td>
              <td><%= project.description %></td>
              <td><%= project.owner %></td>
              <td><%= project.email %></td>
              <td><%= project.tags %></td>
              <td><%= link_to 'Show', project %></td>
              <td><%= link_to 'Edit', edit_project_path(project) %></td>
              <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>


<div class="apple_pagination">
  <%= will_paginate @projects, :container => false %>
</div>






<%= render "shared/footer" %>

